nav {
    display: block;
    font-size: large;
}

div {
    display: block;
}

#cover {
    background-image: url("buffaloriverview.JPG");
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-shadow: 3em;
    text-size-adjust: 0.60;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
}

@media (max-width: 800px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}